body {
  background: radial-gradient(
    939px at 0.7% 2.4%,
    rgb(116, 106, 255) 0%,
    rgb(221, 221, 221) 100.2%
  );
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.sidebar {
  position: fixed;
  top: 0;
  border: #f1f1f1;
  border-style: ridge;
  border-radius: 1rem;
  display: flex;
  background-color: #746aff;
  justify-content: center;
  height: 100vh;
  width: fit-content;
}
.sidebar-title {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
}
.navicons {
  width: 2rem;
  height: 2rem;
  fill: white;
  z-index: 1;
}

.nav-content ul {
  list-style-type: none;
  padding-left: 0;
}

.nav-content {
  display: flow-root;
  padding-bottom: 1rem;
  z-index: 1;
}

.nav-content a {
  color: white;
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  padding: 1.5rem;
}

.nav-content a:hover {
  color: black;
  background-color: #9992f6;
  padding: 1.5rem;
}

.nav-content .logout {
  position: fixed;
  bottom: 0;
}

.nav-content .homepage {
  margin-bottom: 1rem;
}
.nav-content .contacts {
  margin-bottom: 1rem;
}


.search-bar-fixed-top {
  position: fixed;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: gray;
  opacity: 50%;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 100%;
}
.carousel-control-next {
  transform: translateX(-550%);
}
.carousel-control-prev {
  transform: translateX(550%);
}
.carousel {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  transform: translateX(13%);
}

.carousel-inner {
  width: 100%;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.carousel-item .card {
  flex: 1 1 30%;
  width: 30rem;
  height: auto;
}

@media (max-width: 768px) {
  .carousel-item .card {
    width: 20rem;
  }
}

.pop-up1{
  transform: translateY(15vh);
}

.pop-up{
    background-color: #746aff;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.mitski-icons-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


